body {
  font-family: Arial, sans-serif;
  background-color: #15181E;
  color: white;
}

.container{
  display: flex;
  width: 100%;
  height: 92vh;
}

#col-button::-webkit-scrollbar {
  display: none;
}



.col {
  width: 45%;
  height: 92vh;
  margin: 0 10px;
  padding: 5px;
}

input {
  background-color: #ffffff; /* Green */
  border: none;
  border-radius: 10px;
  padding: 5px 9px;
  text-decoration: none;
  font-size: 14px;
}
.button{
  padding: 5px 9px;
  background-color: #1e8a6900; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 0 5px;
}
.active {
  background-color: #80a155; /* Green */
}
.button:hover{
  background-color: #23832a;
  color: white;
  cursor: pointer;
}
.delete:hover {
  background-color: #530707;
}

#col-button {
  display: flex;
  flex-flow: column;
  width: 10%;
  overflow: auto;

  .col-button-function {
    width: 100%;
    margin-bottom: 15px;
    background-color: #219429; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }

  .active {
    background-color: #3d5a17; /* Green */
  }
  

  .col-button-function:hover {
    background-color: #3ea345;
    cursor: pointer;
  }

  .col-button-function:focus {
    background-color: #3d5a17; /* Green */
  }

  .col-button-createNew {
    width: 100%;
    margin-bottom: 15px;
    background-color: #1e8a6900; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid transparent
  }

  .col-button-createNew:hover {
    border: 1px solid #3ea345;
    cursor: pointer;
  }

}

#col-code {
  height: 98%;
  input {
    padding: 5px;
    width: 50%;
    margin-bottom: 3px;
    /* margin: 0; */
  }
  #col-code-text{
    width:100%;
    height: 100%;
    margin: 7px 0;
    border-radius: 10px;
  }
  .textwrapper
  {
    border:1px solid #999999;
    margin:5px 0;
    padding:3px;
  }
 
}

#col-resulter::-webkit-scrollbar {
  display: none;
}

#col-resulter {
  #col-result{
    white-space: pre;
    font-family: monospace;
  }
  overflow: auto;
  margin-top:20px;
  .button{
    padding: 5px 9px;
    background-color: #1e8a6900; /* Green */
    border: none;
    border-radius: 10px;
    color: rgb(209, 160, 24);
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 0 5px;
  }
  .button:hover{
    background-color: #23832a;
    color: white;
    cursor: pointer;
  }
  #col-result-time {
    color: #999999;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .col {
    width:auto;
  }

  #col-button {
    width:auto;
    display: flex;
    flex-flow: row wrap;
    .col-button-function {
      width:28%;
      height: 35px;
      margin: 2px 7px;
    }
  }
}

@media (max-width: 490px) {
  #col-button {
    width:auto;
    display: flex;
    flex-flow: row wrap;
    .col-button-function {
      width:45%;
      height: 35px;
      margin: 2px 7px;
    }
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #15181E;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#display-table-div {
  width: 100%;
  max-height: 350px;
  margin-top: 30px;
  
  #display-table {
    width: 100%;
    text-align: left;
    font-size: 80%;
    border-collapse: collapse;
    tbody {
      display: block;
      max-height: 320px;
      overflow: auto;
      td {
        padding: 5px 0px;
        border-bottom: 1px solid #999;
        max-width: 10px;
        text-overflow: ellipsis;
    }
  }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;/* even columns width , fix width of table too*/
    }
    thead {
      margin-bottom: 20px;
    }
  }
}

#instant-reload-div {
  display: flex; 
  font-size: 12px; 
  margin-bottom: 20px; 
  align-items: center; 
  justify-content: center;
}